<div class="row">
  <div class="col-lg-4">
    <compo-ingredient title="First Ingredient"
                      ingredients="firstList"
                      on-change="selectFirst(data)">
    </compo-ingredient>
  </div>
  <div class="col-lg-4">
    <compo-ingredient ng-if="first != null"
                      title="Second Ingredient"
                      ingredients="secondList"
                      on-change="selectSecond(data)">
    </compo-ingredient>
  </div>
  <div class="col-lg-4">
    <compo-ingredient ng-if="second != null"
                      title="Third Ingredient"
                      ingredients="thirdList"
                      on-change="selectThird(data)">
    </compo-ingredient>
  </div>
</div>
