<h2>Ingrédients</h2>
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Name</th>
      <th>Effects</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="ingredient in ingredients | orderBy:'name.fr'">
      <td><span><img ng-src="{{'data:image/gif;base64,' + ingredientsImages[ingredient.ref]}}"> {{ingredient.name['fr']}}</span>
      </td>
      <td>
        <ul>
          <li ng-repeat="effect in ingredient.effects | orderBy:'name.fr'">
            {{effect.name['fr']}}
          </li>
        </ul>
      </td>
    </tr>
    </tbody>
  </table>
</div>
